@page "/basicevents"
<PageTitle>   Basic Button Events  </PageTitle>

<!-- Data Binding : ONE WAY        -->
<h1> @Title </h1>
<h3>Blazor Button Events for Practice</h3>
<button type="submit" class = "btn btn-primary" @onclick = "OnFirstButtonClick" value="dataValue" > </button>

<!-- Data Binding: TWO WAY   -->
<p>
    <label>
        Input Value:  <input @bind="InputValue" />
    </label>
</p>

<p>
    input value is : @InputValue
</p>

@if (!String.IsNullOrWhiteSpace(feedback))
{
    <p>  @feedback </p>
}
else
{
    <p>  This page has no feedback </p>
}



@code {
    // parametes
    private string feedback;
    private Random rnd  = new();
    private string InputValue { get; set; } = "Initial value";

    //private string _title = " Basic Button Events Example ";
    // example ONE WAY data binding rendering property

    public string Title { get; set; } = " Basic Button Events Example ";
   
    // example TWO WAY data binding rendering property




    // OnInitilized life cylcle method

    protected override void OnInitialized()
    {
        feedback = "On Initialized";
        base.OnInitialized();
    }

    // method for button click 

    public void OnFirstButtonClick()
    {
        int evenOdd = rnd.Next(1,100);
        if (evenOdd % 2 == 0)
        {
            feedback = $" The random number generated is {evenOdd} which is even ";
        }
        else
        {
            feedback = $" The random number generated is {evenOdd} which is odd ";
        }

    }

}
